           
 /* CSS */          
                h1 {
                    color: rgb(0, 0, 0); 
                    font-size: 35px; 
                    left: 130px; position: absolute; top: 50px; 
                    font-family: fantasy
                }
                h2 {
                    text-align: center;
                    color: rgb(255, 36, 20);
                    font-size: 50px;
                    
                }
                h3,h4,h5 {
                    text-align: center;
                    font-size: x-large;
                }
               
             
                h6 {
                    left: 150px; position: absolute; top: 3500px;
                    font-size: x-large;
                    
                }
               
                .ul1 {
                    display: inline;
                    left: 1450px; position: absolute; top: 65px;
                    font-size:large;
                    
                }

                .img  {
                    text-align: center;
                      
               }


                .ul2 {
                    left: 130px; position: absolute; top: 3550px;
                    font-size: large;
                    margin-top: 30px;
                    
                }

                .h7 {
                    left: 1100px; position: absolute; top: 3500px;
                    font-size: x-large;
                    margin-top: 50px;
                }   

                .ul3 {
                    left: 1080px; position: absolute; top: 3550px;
                    font-size: large;
                    margin-top: 50px;
                    
                }

                .h8 {
                    left: 1315px; position: absolute; top: 3500px;
                    font-size: x-large;
                    margin-top: 50px;
                }   

                .ul4 {
                    left: 1300px; position: absolute; top: 3550px;
                    font-size: large;
                    margin-top: 50px;
                   
                }

                .h9 {
                    left: 1520px; position: absolute; top: 3500px;
                    font-size: x-large;
                    margin-top: 50px;
                }   

                .ul5 {
                    left: 1500px; position: absolute; top: 3550px;
                    font-size: large;
                    margin-top: 50px;
                   
                }

                .sh3 {
                    text-align: left;
                    margin-top: 50px;
                    margin-left: 130px;
                    margin-right: 1145px; 
                    word-break: break-all;
                    font-size: medium;
               }

               .sh4 {
                    text-align: left;
                    margin-top: -325px;
                    margin-left: 640px;
                    margin-right: 640px; 
                    word-break: break-all;
                    font-size: medium;
               }
               .sh5 {
                    text-align: left;
                    margin-top: -280px;
                    margin-left: 1150px;
                    margin-right: 130px; 
                    word-break: break-all;
                    font-size: medium;
               }

               .shi3 {
                    left: 330px; position: absolute; top: 630px;
                    color:rgb(0, 0, 0);
                    font-size: x-large;
                    margin-top: 50px;

            }
                .shi4 {
                    left: 840px; position: absolute; top: 630px;
                    color:rgb(0, 0, 0);
                    font-size: x-large;
                    margin-top: 50px;
            }
                .shi5 {
                    left: 1260px; position: absolute; top: 630px;
                    color:rgb(0, 0, 0);
                    font-size: x-large;
                    margin-top: 50px;
           }
    

                .form {
                    text-align: center;
                }

                .img-con {
                    max-width: 100%;
                    height: auto;
                    text-align: center;
                  }

                  .about_h{
                    font-size: x-large;
                  }

                  .about_ul{
                    font-size: x-large;
                  }

             .img1{
                position: absolute; top: 3500px;
             }

        